<!doctype html>
<html>
	<head>
		<title>All Books</title>
	</head>
	<body>
		<ul>
			{% for book in books %}
			<li> {{book.title}} -- {{book.authors}} </li>
			{% endfor %}
			<!--
			<li>Flubber</li>
			<li>Jumanji</li>
			<li>Aladdin</li>
			-->
		</ul>
	</body>
</html>