<!doctype html>
<html>
	<head>
		<title>All Films</title>
	</head>
	<body>
		<table>
		  <tr>
			<th>Film</th>
			<th>Stars</th>
		  </tr>
		  {% for film in films %}
		  <tr>
		  <td>{{film.name}}</td>
		  <td>{{film.stars}}</td>
		  </tr>
		  {% endfor %}		
			
		</table>
	</body>
</html>